<h1 class="mat-display-3" style="text-align: center">Kutumb App</h1>

<ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
  *ngIf="appBannerData$ | async as images"
>
  <div ngxSlickItem *ngFor="let image of images" class="slide">
    <img [src]="image.bannerImageURL" [alt]="image.title" width="100%" />
  </div>
</ngx-slick-carousel>

<div class="share-btn">
  <button
    mat-raised-button
    color="accent"
    type="button"
    routerLink="/memories/create"
  >
    Share your memories
  </button>
</div>
