.share-btn {
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
}

.slick-slider {
  width: 95%;
  // height: 100%;
  // max-height: 550px;
  margin: auto;
  background: rgb(14, 13, 13);
}
