.hero {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.event-card {
  width: 1024px;
  margin: 1rem 0;
  border: none;
  border-radius: 0.5rem;

  form {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    mat-form-field {
      width: 60%;
    }
  }
}

@media screen and (max-width: "1200px") {
  .event-card {
    width: 950px;
  }
}

@media screen and (max-width: "1024px") {
  .event-card {
    width: 756px;
  }
}
@media screen and (max-width: "850px") {
  .event-card {
    width: 560px;
    form {
      mat-form-field {
        width: 80%;
      }
    }
  }
}
@media screen and (max-width: "630px") {
  .event-card {
    width: 450px;
    form {
      mat-form-field {
        width: 80%;
      }
    }
  }
}
@media screen and (max-width: "460px") {
  .event-card {
    width: 350px;
    form {
      mat-form-field {
        width: 80%;
      }
    }
  }
}
